/*font letter*/
@font-face {
    font-family: "learner";
    src: url("./assets/Letters\ for\ Learners.ttf"); 
}

/* Global variables */
:root {
    --neutralColor: #FFF;
    --neutralColor2: #000;
    --principalColor: #FF9F1C;
    --principalColor2: #FFBF69;
    --secondaryColor: #2EC4B6;
    --secondaryColor2: #CBF3F0;
}

/* FIRST MOBILE (340w) */
/* GENERAL STYLES */
body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    align-content: center;
    overflow-x: hidden;
}

/* HEADER STYLES */
header#headerStart{
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 100;
    background-color: var(--neutralColor);
}

nav#headerNav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
div#offCanvasContainer {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

button#offCanvasBtn {
    color: var(--principalColor);
    font-size: 1.75rem;
}

div#Id2 {
    width: 195.8px;
    height: 75%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

div#canvasBody {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
}

div.offCanvasItem{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-content: center;
    color: var(--principalColor);
}

div.itemTextContainer {
    color: var(--principalColor2);
    padding-left: 1rem;
}

div#nameHeaderContainer {
    width: 80%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

h5#nameHeader {
    width: 50%;
    font-size: .75rem;
    margin: 0;
}

div.spare {
    display: none;
}

h6#spanNameHeader {
    width: 40%;
    font-size: .75rem;
    border-bottom: 1px solid var(--secondaryColor);
    box-shadow: 00 10px 10px -2px #cbf3f0;
    font-weight: 100;
    margin: 0;
    margin-right: 1rem;
}
/* INTRO STYLES */
main#mainContainer {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 10%;
    background: url('./assets/altImage.png') no-repeat center center fixed !important;
    background-size: cover;
}

section#introContainer {
    width: 100%;
    height: 25%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

h2.intro {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    color: var(--neutralColor);
    font-size: .65rem;
    text-align: center;
}

span.highlight{
    background-color: var(--principalColor);
    font-weight: 700;
    margin-right: .2rem;
    padding: 0 .5rem;
}

span.colored{
    color: var(--principalColor);
    font-weight: 700;
}

/* MEDIA QUERY STYLES */

@media (min-width: 500px) {   
    div#nameHeaderContainer {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    h5#nameHeader {
        width: 50%;
        font-size: .9rem;
    }
    
    h6#spanNameHeader {
        width: 40%;
        font-size: .9rem;
    }

    main#mainContainer {
        height: calc(500px + 20%);
    }
}
@media (min-width: 720px) {
    main#mainContainer {
        height: calc(500px + 25%);
    }

    h6#spanNameHeader {
        border: 0;
        box-shadow: none;
    }
    
    div#spare {
        display: block;
        color: transparent;
        width: .2%;
        background-color: var(--secondaryColor);
        height: 75%;
        -moz-box-shadow: 0 13.5px 16.5px 21px #cbf3f0;
        -webkit-box-shadow: 0 13.5px 16.5px 21px #cbf3f0;
        box-shadow: 00 0px 7px 10px #cbf3f0;
    }
}
@media (min-width: 912px) {
    main#mainContainer {
        height: calc(500px + 30%);
    }
    div#spare {
        width: .1%;
        height: 85%;
    }
}

@media (min-width: 1000px) {
    div#nameHeaderContainer {
        width: 80%;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    h5#nameHeader {
        width: 50%;
        font-size: 1.25rem;
    }
    
    h6#spanNameHeader {
        width: 40%;
        font-size: 1.25rem;
    }
    div#spare {
        width: .1%;
        height: 110%;
    }
    main#mainContainer {
        height: calc(500px + 35%);
    }
}