/*font letter*/
@font-face {
    font-family: "learner";
    src: url("./assets/Letters\ for\ Learners.ttf"); 
}

/* Global variables */
:root {
    --neutralColor: #FFF;
    --neutralColor2: #000;
    --principalColor: #FF9F1C;
    --principalColor2: #FFBF69;
    --secondaryColor: #2EC4B6;
    --secondaryColor2: #CBF3F0;
}

/* FIRST MOBILE (340w) */
/* GENERAL STYLES */
body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column;
    align-content: center;
    overflow-x: hidden;
}

/* HEADER STYLES */
header#headerStart{
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 100;
    background-color: var(--neutralColor);
}

nav#headerNav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
div#offCanvasContainer {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

button#offCanvasBtn {
    color: var(--principalColor);
    font-size: 1.75rem;
}

div#Id2 {
    width: 195.8px;
    height: 75%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

div#canvasBody {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
}

div.offCanvasItem{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-content: center;
    color: var(--principalColor);
}

div.itemTextContainer {
    color: var(--principalColor2);
    padding-left: 1rem;
}

div#nameHeaderContainer {
    width: 80%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

h5#nameHeader {
    width: 50%;
    font-size: .75rem;
    margin: 0;
}

div.spare {
    display: none;
}

h6#spanNameHeader {
    width: 40%;
    font-size: .75rem;
    border-bottom: 1px solid var(--secondaryColor);
    box-shadow: 00 10px 10px -2px #cbf3f0;
    font-weight: 100;
    margin: 0;
    margin-right: 1rem;
}
/* INTRO STYLES */
main#mainContainer {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 10%;
    background: url('./assets/altImage.png') no-repeat 43.5% center;
    background-size: cover;
}

section#introContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    padding-top: 3em;
    align-content: center;
}

h2.intro {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    color: var(--neutralColor);
    font-size: .65rem;
    text-align: center;
}

span.highlight{
    background-color: var(--principalColor);
    font-weight: 700;
    margin-right: .2rem;
    padding: 0 .5rem;
}

span.colored{
    color: var(--principalColor);
    font-weight: 700;
}

/* ABOUT STYLES */

section#aboutContainer {
    align-items: center;
    background-image:  linear-gradient(rgba(0,0,0,0.2) 1px, transparent 1px), linear-gradient(to right, rgba(0,0,0,0.2) 1px, var(--neutralColor) 1px);
    background-size: 40px 40px;
    display: flex;
    height: 40em;
    justify-content: center;
    width: 100%;
    z-index: 0;
}

div#aboutCard {
    min-width: 50%;
    max-width: 75%;
    background-color: var(--neutralColor);
    padding: 1.5rem;
    height: auto;
    box-shadow: 0.5px 0.5px 18px -2.5px var(--neutralColor2);
    border: 5px;
}

/* STUDIES STYLES */

section#studiesContainer{
    width: 100%;
    height: 40em;
    background-color: var(--neutralColor2);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

div#studiesCard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15fr 85fr;
}

div#studiesTitleContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

div#studiesTitleContainer h3 {
    color: var(--neutralColor);
}

div#studies {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33.3fr 33.3fr 33.3fr;
    gap: 10px;
    padding: 10px;
}

div.study {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--principalColor);
    box-shadow: 0 0 26px -12.5px #ffbf69;
    border-radius: 10px;
}

/* SKILLS STYLES */

section#skillsContainer {
    width: 100%;
    height: 40em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

div#skillsTitleContainer {
    width: 100%;
    height: 10%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

div#skills {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

div.skill { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: var(--neutralColor2);
    text-shadow: 0px 0px 9px var(--principalColor);
}

img.skillImage {
    width: 50%;
}

/* EXPERIENCE STYLES */

section#experienceContainer {
    width: 100%;
    height: 20em;
    padding: 1em;
    display: flex;
    flex-flow: column;
    justify-content:  space-around;
    align-items: center;
}

div#experienceTitleContainer {
    width: 100%;
    height: 30%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

div#experiences {
    width: 100%;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

div.experience {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px -1px #000000;
    transition: .5s ease-in;
}

div.expImg, div.expRef{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

div.expRef > a {
    text-decoration: none;
    color: var(--principalColor);
    font-size: 1rem;
}

img.experienceImage {
    width: 70px;
}

/* FOOTER STYLES */
footer#footer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--principalColor);
}

div#copyRight {
    width: 50%;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

p.copyText {
    margin: 0;
    padding: 0;
}

div#RRSS {
    width: 50%;
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-around;
}

div#linkedIn, div#github, div#gmail, div#phone {
    background-color: var(--neutralColor2);
    border-radius: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: .25em;
}

div#linkedIn a, div#github a, div#gmail a, div#phone a {
    text-decoration: none;
    height: 80%;
}

i.rrssImg {
    color: var(--secondaryColor);
    font-size: 1.2rem;
}

/* MEDIA QUERY STYLES */

@media (min-width: 500px) {   
    div#nameHeaderContainer {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    h5#nameHeader {
        width: 50%;
        font-size: .9rem;
    }
    
    h6#spanNameHeader {
        width: 40%;
        font-size: .9rem;
    }

    h2.intro {
        font-size: .8rem;
    }
}
@media (min-width: 720px) {
    main#mainContainer {
        height: calc(500px + 10%);
    }

    h6#spanNameHeader {
        border: 0;
        box-shadow: none;
    }
    
    div.spare {
        display: block;
        color: transparent;
        width: .2%;
        background-color: var(--secondaryColor);
        height: 75%;
        -moz-box-shadow: 0 13.5px 16.5px 21px #cbf3f0;
        -webkit-box-shadow: 0 13.5px 16.5px 21px #cbf3f0;
        box-shadow: 00 0px 7px 10px #cbf3f0;
    }

    h5#nameHeader {
        width: 50%;
        font-size: 1rem;
    }
    
    h6#spanNameHeader {
        width: 40%;
        font-size: 1rem;
    }

    h2.intro {
        font-size: .9rem;
    }

    section#skillsContainer {
        width: 100%;
        height: 50em;
    }

    section#experienceContainer {
        width: 100%;
        height: 30em;
    }

    div#experienceTitleContainer {
        width: 100%;
        height: 20%;
    }

    div#experiences {
        height: 50%;
        flex-flow: row;
    }

    div.experience {
        flex-flow: column;
        justify-content: center;
    }
    div.expRef > a {
        font-size: 1.1rem;
        font-weight: 600;
    }
}
@media (min-width: 912px) {
    button#offCanvasBtn {
        color: var(--principalColor);
        font-size: 2rem;
    }
    main#mainContainer {
        height: calc(500px + 12%);
    }

    div.spare {
        width: .1%;
        height: 85%;
    }

    h5#nameHeader {
        width: 50%;
        font-size: 1.1rem;
    }
    
    h6#spanNameHeader {
        width: 40%;
        font-size: 1.1rem;
    }

    h2.intro {
        font-size: 1rem;
    }

    div#studies {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 33.3fr 33.3fr;
        gap: 40px;
        padding: 40px;
        transition: .5s ease-in;
    }
    div.study {
        box-shadow: 0 0 26px -6.5px #ffbf69;
        transition: .5s ease-in;
    }

    div.study:hover {
        transform: scale(1.05);
        cursor: pointer;
    }  
    
    section#skillsContainer {
        height: 60em;
    }
    img.skillImage {
        width: 40%;
    }

    div.expRef > a {
        font-size: 1.2rem;
        font-weight: 600;
    }

    div.experience:hover {
        transform: scale(1.025);
        cursor: pointer;
    }  
}
@media (min-width: 1000px) {
    button#offCanvasBtn {
        color: var(--principalColor);
        font-size: 2.25rem;
    }

    div#nameHeaderContainer {
        width: 80%;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    h5#nameHeader {
        width: 50%;
        font-size: 1.25rem;
    }
    
    h6#spanNameHeader {
        width: 40%;
        font-size: 1.25rem;
    }

    h2.intro {
        font-size: 1.1rem;
    }
    div.spare {
        width: .1%;
        height: 110%;
    }
    main#mainContainer {
        height: calc(500px + 20%);
    }


    section#aboutContainer {
        height: 30em;
    }

    section#skillsContainer {
        height: 80em;
    }

    img.skillImage {
        width: 35%;
    }

    div.expRef > a {
        font-size: 1.1rem;
        font-weight: 600;
    }
}